.app-header {
    position: fixed;
    top: 0;
    z-index: 2;
}
  
.toolbar-seprator {
    flex: 1 1 auto;
}

.app-container,
.app-left-sidenav,
.app-right-sidenav {
  position: absolute;
  padding-top: 64px;
  height: calc(100vh - 64px);
}

.app-left-sidenav {
    width: 200px;
}

.app-right-sidenav {
    width: 400px;
}

.app-tab {
    width: auto;
}

.app-sidenav-content {
    width: calc(100vw - 600px);
}

